<!-- <div class="form-group col-sm-12"
    style="top: 20px;justify-content: right;align-items: end;display: flex;flex-wrap: wrap;gap: 10px;"
    >
    <div class="col-sm-5"></div>
    <div class="col-sm-3"  style="text-align: center;display: flex;gap: 10px;align-items: center;float: right;justify-content: flex-end;">
      <label for="level-select" style="text-wrap: nowrap;">Display Level</label>
      <ng-select id="level-select" [items]="levelSearch" bindLabel="value" placeholder="Select Level" [(ngModel)]="listLevel" style="width: 200px;"
          (change)="selectLevel(listLevel)" [searchable]="true">
      </ng-select>
        <input  class="btn btn-outline-success col-sm-1" type="button" id="Expand All"
            (click)="ExpandAll()" value="Expand All" />
        <input  class="btn btn-outline-info col-sm-1" type="button" id="Collapse All"
            (click)="CollapsAll()" value="Collapse All" />
      <input  class="btn btn-outline-danger col-sm-1" type="button" id="export" value="Export"
          (click)="ExportOptions()" />
</div> -->
<app-topmenu style="margin-bottom: 50px;" (SelectLevel)="selectLevel($event)" [listLevel]="listLevel" (Expand)="ExpandAll()" (Collapse)="CollapsAll()" (Export)="ExportOptions()"  #topmenu></app-topmenu>
<div style="display: flex;background-color: #1464CC;border-radius: 10px 10px 0 0;justify-content: center; height: 56.4px; margin-top: 25px;align-items: center;text-align: center;vertical-align: center;">
  <span style="color: white;font-size: 20px;">{{titleName}} {{titleDesc}}</span>
</div>
<div style="flex-wrap: wrap;padding-right: 20px;position: relative;width: 100%;height: 50px;background-color: transparent;display: flex;justify-content: flex-end;gap: 20px;align-items: center;">
  <div [style.background]="'#7286D3'" class="circle"></div>
  <div class="text">ตำแหน่งหลัก</div>
  <div [style.background]="'#B9F3FC'" class="circle"></div>
  <div class="text">ตำแหน่งรอง</div>
  <div [style.background]="'#F6995C'" class="circle"></div>
  <div class="text">รักษาการ</div>
  <div *ngIf="matrixposition" class="rectangletooltip"></div>
  <div *ngIf="matrixposition" class="text">Matrix Position</div>
  <hr *ngIf="inDirect" class="linetooltip">
  <div *ngIf="inDirect" class="text">Report to Indirect</div>
</div>
<div style="margin-top:10px;position: relative;" >
  <ejs-diagram #diagram id="diagram" width="100%" height="600px" [layout]="layout"
      [getConnectorDefaults]="connDefaults" [getNodeDefaults]="nodeDefaults" [dataSourceSettings]="data" [pageSettings]="pageSettings" (wheel)="onWheel($event)"
       (created)="created($event)" [snapSettings]="snapSettings"
      >
      <ng-template #nodeTemplate let-data>
          <ng-container>
              <div class="nodeitem" id="nodeitem" #nodeItem
                  [style.border]="data.data.objectType == 'MatrixPos' ? 'dashed 4px' : 'solid'"
                  [style.border-color]="data.data.objectType == 'MatrixPos' ? 'black' : 'white'"
                  style="align-items: center; justify-content: center;background-color: white;height: 100%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                  border-radius: 20px;
                  color: white;">
                  <div style="display: flex; flex-direction: column;">
                      <img alt="profile" [src]="data.data.pictureUrl" style="width: 80px; height: 80px; border-radius: 50%; left:50%;transform: translate(-50%, -60%);
                              position: absolute;" />
                      <span
                      *ngIf="data.data.assignType"
                          [style.background-color]="data.data.assignType == 'cch_AssignTypePermanent' ? '#7286D3' : data.data.assignType == 'cch_AssignTypeSecondment' ? '#B9F3FC' : data.data.assignType == 'cch_AssignTypeTemporary' ? '#F6995C' : '#E5E0FF'"
                          class="dotChartDiagram">
                      </span>
                      <div style="display: flex;flex-direction: column;row-gap: 1px;padding: 30px 30px;">
                          <span *ngIf="('PersonNameDisplay'|displayCheck:ShowField )|| ('nickNameDisplay'|displayCheck:ShowField)"
                              style="color: rgb(0, 0, 0); font-size: 20px;font-weight: bold;text-align: center;">{{
                              data.data.personNameDisplay != null ? data.data.personNameDisplay : '-' }}
                              {{data.data.nickNameDisplay != null ? '('+ data.data.nickNameDisplay +')' : '-'
                              }}</span>
                          <span *ngIf="'personName2Display'|displayCheck:ShowField "
                              style="color: rgb(0, 0, 0); font-size: 20px;text-align: center;font-weight: bold;margin-top: 10px;">{{
                              data.data.personName2Display != null ? data.data.personName2Display : '-'}}</span>
                            <span *ngIf="'empCode'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 20px;text-align: center;margin-top: 10px;margin-bottom: 10px;">
                              {{data.data.empCode}} - {{data.data.hiredDateDisplay}}
                          </span>
                          <span *ngIf="data.data.replacementPersonID != null"
                              style="color: red; font-size: 15px;text-align: center;margin-top: 5px;margin-bottom: 10px;">
                                 {{data.data.terminateDateDisplay}} {{data.data.terminateType ? '('+data.data.terminateType+')':'(ไม่ระบุ)'}}</span>
                          <span style="margin: top 10px;margin-bottom: 10px;"></span>
                          <span *ngIf="('positionName'|displayCheck:ShowField )"
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">ตำแหน่ง :</span><span style="text-align: right;">
                                  {{data.data.positionName}}</span> </span>
                            <span *ngIf="'unitCodeShortName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">หน่วยงาน :</span><span style="text-align: right;">
                                  {{data.data.unitCodeName != null ? data.data.unitCodeName +
                                  '('+data.data.unitCodeShortName+'.)' : '-'}} </span> </span>
                          <span *ngIf="'companyName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">บริษัท :</span><span style="text-align: right;">
                                  {{data.data.companyName != null ? data.data.companyName : '-'  }}</span> </span>
                          <span *ngIf="'officeName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">สถานที่ปฏิบัติการ :</span><span
                                  style="text-align: right;"> {{data.data.officeName != null ? data.data.officeName :
                                  '-'}}</span> </span>
                          <span *ngIf="'personnelGradeName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">ระดับถือครอง :</span><span style="text-align: right;">
                                  {{data.data.personnelGradeName != null ?data.data.personnelGradeName : '-'}}</span>
                          </span>
                          <span *ngIf="'positionLevelName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">ระดับตำแหน่ง :</span><span style="text-align: right;">
                                  {{data.data.positionLevelName != null ? data.data.positionLevelName : '-'}}</span>
                          </span>
                          <span *ngIf="'positionExecutiveName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">ตำแหน่งบริหาร :</span><span style="text-align: right;">
                                  {{data.data.positionExecutiveName !=null ? data.data.positionExecutiveName :
                                  '-'}}</span> </span>
                          <span *ngIf="'positionWorkLineName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">ตำแหน่งสายงาน :</span><span style="text-align: right;">
                                  {{data.data.positionWorkLineName != null ? data.data.positionWorkLineName :
                                  '-'}}</span> </span>
                          <span *ngIf="'positionRoleName'|displayCheck:ShowField"
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">ประเภทตำแหน่ง :</span><span style="text-align: right;">
                                  {{data.data.positionRoleName != null ? data.data.positionRoleName : '-'}}</span>
                          </span>
                          <span *ngIf="'jobFamilyName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">กลุ่ม Job :</span><span style="text-align: right;">
                                  {{data.data.jobFamilyName != null ? data.data.jobFamilyName :'-'}}</span> </span>
                          <span *ngIf="'jobItemName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">Job :</span><span style="text-align: right;">
                                  {{data.data.jobItemName != null ? data.data.jobItemName : '-'}}</span> </span>
                          <span *ngIf="'jobLevelName'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">ระดับ Job :</span><span style="text-align: right;">
                                  {{data.data.jobLevelName != null ? data.data.jobLevelName : '-'}}</span> </span>
                          <span *ngIf="'costCenter'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="text-align: left;">ศูนย์ต้นทุน :</span><span style="text-align: right;">
                                  {{data.data.costCenter != null ? data.data.costCenter : '-'}}</span> </span>
                          <span *ngIf="'extNumber'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                  style="align-items: left;margin-left: 5px;"><i
                                      class="fa-duotone fa-phone-volume fa-1x"
                                      style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;"></i></span><span
                                  style="text-align: right;"> {{data.data.extNumber != null ? data.data.extNumber :
                                  '-'}}</span> </span>
                          <span *ngIf="('mobileNumber'|displayCheck:ShowField) || ('mobileNumber2'|displayCheck:ShowField )"
                              style="color:rgb(0, 0, 0);font-size: 15px;font-weight: bold;display: flex;justify-content: space-between;"><span
                                  style="align-items: left;margin-left: 5px;"><i
                                      class="fa-duotone fa-mobile-signal-out fa-1x"
                                      style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;"></i></span><span
                                  style="text-align: right;"> {{data.data.mobileNumber != null ?
                                  data.data.mobileNumber : '-'}},{{data.data.mobileNumber2 != null &&
                                  data.data.mobileNumber2 != "" ? data.data.mobileNumber2 : '-'}}</span> </span>
                          <span *ngIf="'email'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;font-weight: bold;display: flex;justify-content: space-between;"><span
                                  style="align-items: left;margin-left: 5px;"><i class="fa-duotone fa-envelope fa-1x"
                                      style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;"></i></span><span
                                  style="text-align: right;"> {{data.data.email != null ? data.data.email :
                                  '-'}}</span> </span>
                          <span *ngIf="'birthDateDisplay'|displayCheck:ShowField "
                              style="color:rgb(0, 0, 0);font-size: 15px;font-weight: bold;display: flex;justify-content: space-between;"><span
                                  style="align-items: left;margin-left: 5px;"><i
                                      class="fa-duotone fa-cake-candles fa-1x"
                                      style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;"></i></span><span
                                  style="text-align: right;"> {{data.data.birthDateDisplay != null ?
                                  data.data.birthDateDisplay : '-'}}</span> </span>
                          <span *ngIf="data.data.matrixPositionGroupName != null"
                          style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                              style="text-align: left;">Matrix Position Group :</span><span style="text-align: right;">
                              {{data.data.matrixPositionGroupName != null ? data.data.matrixPositionGroupName : '-'}}</span>
                      </span>
                      </div>
                      <hr  *ngIf="data.data.replacementPersonID != null" style="margin: 0 auto !important;border: 5 !important;width: 90% !important;background-color:rgb(0, 0, 0) !important;height: 2px !important;opacity: 1 !important;">
                      <div *ngIf="data.data.replacementPersonID != null" class="row" style="margin-top: 20px;height: 100%;">

                              <div class="col-sm-3" >
                                  <img alt="profile" [src]="data.data.replacementPictureUrl" style="width: 80px; height: 80px; border-radius: 50%;left: 30px;
                              position: absolute;" />
                              </div>
                              <div class="col-sm-9 row">
                                  <span *ngIf="'personNameDisplay'|displayCheck:ShowField "
                                  style="color: rgb(0, 0, 0); font-size: 15px;font-weight: bold;text-align: right;">{{data.data.replacementPersonNameDisplay != null ? data.data.replacementPersonNameDisplay: '-' }} {{ data.data.replacementNickNameDisplay != null ? '('+data.data.replacementNickNameDisplay+')' : '(-)'}}</span>
                                  <span *ngIf="'personName2Display'|displayCheck:ShowField "
                                  style="margin-top: 10px;color: rgb(0, 0, 0); font-size: 15px;font-weight: bold;text-align: right;">{{data.data.replacementPersonName2Display != null ? data.data.replacementPersonName2Display : '-'}}</span>
                                  <span *ngIf="'empCode'|displayCheck:ShowField "
                                  style="margin-top: 10px;color: rgb(0, 0, 0); font-size: 15px;text-align: right;">
                                      {{data.data.replacementEmpCode}} - {{data.data.replacementHiredDateDisplay}}
                                  </span>
                              </div>
                              <!-- คนที่มาแทน -->
                              <div style="display: flex;flex-direction: column;row-gap: 1px;padding-left: 40px;padding-right: 40px;padding-bottom: 40px;">
                                  <span style="margin: top 10px;margin-bottom: 10px;"></span>
                                  <span *ngIf="'positionName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">ตำแหน่ง :</span><span style="text-align: right;">
                                          {{data.data.replacementPositionName}}</span> </span>
                                  <span *ngIf="'unitCodeShortName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">หน่วยงาน :</span><span style="text-align: right;">
                                          {{data.data.replacementUnitCodeName != null ? data.data.replacementUnitCodeName +
                                          '('+data.data.replacementUnitCodeShortName+'.)' : '-'}} </span> </span>
                                  <span *ngIf="'companyName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">บริษัท :</span><span style="text-align: right;">
                                          {{data.data.replacementCompanyName}}</span> </span>
                                  <span *ngIf="'officeName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">สถานที่ปฏิบัติการ :</span><span
                                          style="text-align: right;"> {{data.data.replacementOfficeName != null ? data.data.replacementOfficeName :
                                          '-'}}</span> </span>
                                  <span *ngIf="'personnelGradeName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">ระดับถือครอง :</span><span style="text-align: right;">
                                          {{data.data.replacementPersonnelGradeName != null ?data.data.replacementPersonnelGradeName : '-'}}</span>
                                  </span>
                                  <span *ngIf="'positionLevelName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">ระดับตำแหน่ง :</span><span style="text-align: right;">
                                          {{data.data.replacementPositionLevelName != null ? data.data.replacementPositionLevelName : '-'}}</span>
                                  </span>
                                  <span *ngIf="'positionExecutiveName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">ตำแหน่งบริหาร :</span><span style="text-align: right;">
                                          {{data.data.replacementPositionExecutiveName !=null ? data.data.replacementPositionExecutiveName :
                                          '-'}}</span> </span>
                                  <span *ngIf="'positionWorkLineName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">ตำแหน่งสายงาน :</span><span style="text-align: right;">
                                          {{data.data.replacementPositionWorkLineName != null ? data.data.replacementPositionWorkLineName :
                                          '-'}}</span> </span>
                                  <span *ngIf="'positionRoleName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">ประเภทตำแหน่ง :</span><span style="text-align: right;">
                                          {{data.data.replacementPositionRoleName != null ? data.data.replacementPositionRoleName : '-'}}</span>
                                  </span>
                                  <span *ngIf="'jobFamilyName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">กลุ่ม Job :</span><span style="text-align: right;">
                                          {{data.data.replacementJobFamilyName != null ? data.data.replacementJobFamilyName :'-'}}</span> </span>
                                  <span *ngIf="'jobItemName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">Job :</span><span style="text-align: right;">
                                          {{data.data.replacementJobItemName != null ? data.data.replacementJobItemName : '-'}}</span> </span>
                                  <span *ngIf="'jobLevelName'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">ระดับ Job :</span><span style="text-align: right;">
                                          {{data.data.replacementJobLevelName != null ? data.data.replacementJobLevelName : '-'}}</span> </span>
                                  <span *ngIf="'costCenter'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="text-align: left;">ศูนย์ต้นทุน :</span><span style="text-align: right;">
                                          {{data.data.replacementCostCenter != null ? data.data.replacementCostCenter : '-'}}</span> </span>
                                  <span *ngIf="'extNumber'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;display: flex;justify-content: space-between;"><span
                                          style="align-items: left;margin-left: 5px;"><i
                                              class="fa-duotone fa-phone-volume fa-1x"
                                              style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;"></i></span><span
                                          style="text-align: right;"> {{data.data.replacementExtNumber != null ? data.data.replacementExtNumber :
                                          '-'}}</span> </span>
                                  <span *ngIf="('mobileNumber'|displayCheck:ShowField)||('mobileNumber2'|displayCheck:ShowField) "
                                      style="color:rgb(0, 0, 0);font-size: 15px;font-weight: bold;display: flex;justify-content: space-between;"><span
                                          style="align-items: left;margin-left: 5px;"><i
                                              class="fa-duotone fa-mobile-signal-out fa-1x"
                                              style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;"></i></span><span
                                          style="text-align: right;"> {{data.data.replacementMobileNumber != null ?
                                          data.data.replacementMobileNumber : '-'}},{{data.data.replacementMobileNumber2 != null &&
                                          data.data.replacementMobileNumber2 != "" ? data.data.replacementMobileNumber2 : '-'}}</span> </span>
                                  <span *ngIf="'email'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;font-weight: bold;display: flex;justify-content: space-between;"><span
                                          style="align-items: left;margin-left: 5px;"><i class="fa-duotone fa-envelope fa-1x"
                                              style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;"></i></span><span
                                          style="text-align: right;"> {{data.data.replacementEmail != null ? data.data.replacementEmail :
                                          '-'}}</span> </span>
                                  <span *ngIf="'birthDateDisplay'|displayCheck:ShowField "
                                      style="color:rgb(0, 0, 0);font-size: 15px;font-weight: bold;display: flex;justify-content: space-between;"><span
                                          style="align-items: left;margin-left: 5px;"><i
                                              class="fa-duotone fa-cake-candles fa-1x"
                                              style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;"></i></span><span
                                          style="text-align: right;"> {{data.data.replacementBirthDateDisplay != null ?
                                          data.data.replacementBirthDateDisplay : '-'}}</span> </span>
                              </div>
                      </div>
                      <!-- Old 4 HouseMen -->
                      <div style="justify-content: center;align-items: center;display: flex;">
                          <span
                              style="color:rgb(0, 0, 0);font-size: 15px;display: flex;position: absolute;bottom: 40px;margin-top: 20px;align-items: center;flex-direction: row;column-gap: 50%;white-space: nowrap;justify-content: center;width: 20%;margin-right: 20px;">
                              <span  style="width: 20%;" class="n0" *ngIf="'N0'|displayCheck:ShowField">
                                <span class="n0tooltip">{{Caption.n0}}</span><i
                                      class="fa-duotone fa-users"
                                      style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;margin-right: 50%;"></i>
                                  {{data.data.n0 == null || data.data.n0 == 0 ? 0: data.data.n0}} </span>
                              <span  style="width: 20%;" class="n1" *ngIf="'N1'|displayCheck:ShowField">
                                <span class="n1tooltip">{{Caption.n1}}</span><i
                                      class="fa-duotone fa-chair-office"
                                      style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;margin-right: 50%;"></i>
                                      {{data.data.n1 == null || data.data.n1 == 0 ? 0: data.data.n1}} </span>
                              <span style="width: 20%; " class="n2" *ngIf="'N2'|displayCheck:ShowField">
                                <span class="n2tooltip">{{Caption.n2}}</span><i
                                      class="fa-duotone fa-user"
                                      style="--fa-primary-color: #223941; --fa-secondary-color: #1a57c1;margin-right: 50%;"></i>
                                      {{data.data.n2 == null || data.data.n2 == 0 ? 0: data.data.n2}} </span>
                              <span  style="width: 20%;"class="n3" *ngIf="'N3'|displayCheck:ShowField">
                                <span class="n3tooltip">{{Caption.n3}}</span><i
                                      class="fa-light fa-chair-office" style="margin-right: 50%;"></i>
                                      {{data.data.n3 == null || data.data.n3 == 0 ? 0: data.data.n3}} </span>
                          </span>
                      </div>
                      <div *ngIf="data.data.totalImmSub > 0  && CheckExpandStatus[data.id]" >
                          <button class="btn btn-dark"
                              style="height: 45px;width: 80px;border-radius: 25px;position: absolute;left: 50%;bottom: -20px;transform: translateX(-50%);font-size: 20px;"
                              (click)="Expand(data.id)"><span style="color: white;">{{data.data.totalImmSub}}
                              </span><span id="arrow"
                                  style="margin-left: 2px;display: inline-block;vertical-align: middle;"><i
                                      class="fa fa-angle-up"
                                      style="font-size:30px;display: inline;color: white;"></i></span></button>
                      </div>
                      <div *ngIf="data.data.totalImmSub > 0  && CheckExpandStatus[data.id] == false">
                          <button class="btn btn-secondary"
                              style="height: 45px;width: 80px;border-radius: 25px;position: absolute;left: 50%;bottom: -20px;transform: translateX(-50%);font-size: 20px;"
                              (click)="Expand(data.id)"><span style="color: white;">{{data.data.totalImmSub}}
                              </span><span id="arrow"
                                  style="margin-left: 2px;display: inline-block;vertical-align: middle;"><i
                                      class="fa fa-angle-down"
                                      style="font-size:30px;display: inline;color: white;"></i></span></button>
                      </div>
                  </div>
              </div>
          </ng-container>
      </ng-template>
  </ejs-diagram>

  <div style="align-content: center;width: 25%;height:30%;margin-left:10px;position: absolute;top: 10px;background:#f7f7f7
  ;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
<ejs-overview id="overview" width="50%" height="200px" sourceID="diagram" #overview>
</ejs-overview>
</div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">Loading...</p>
</ngx-spinner>
