.topnav{
  display: flex;
  gap:10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectLevel{
  display: flex;
  align-items: center;
  gap:10px
}

.matrixPos{
  display: flex;
  align-items: center;
  gap:10px
}

.float-left{

  justify-content: start;
}

.float-right{
  justify-content: end;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

}
.float-right input{
  min-width: 120px;
}
