/* @import "./fontawesome-pro-6.5.2-web/css/all.css"; */
/* @import "./fontawesome-pro-6.5.2-web/css/fontawesome.min.css"; */

@font-face{
    font-family: 'Notosans';
    src: url('../src/assets/Noto_Sans_Thai/NotoSansThai-VariableFont_wdth\,wght.ttf');
}
@font-face{
    font-family: 'Poppins';
    src: url('../src/assets/Poppins-Regular.ttf');
}

body{
    font-family:  "Poppins","Notosans" !important;
}
/* html, body { height: 100%; } */
body { margin: 0;  font-family:  "Poppins","Notosans" !important; }

/* @import "@fontsource/poppins/400.css"; */
/* @import "@fontsource/poppins/400-italic.css";  */

/* #diagram {
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 10px;
    border-color: black;
  }
   */
  .control-fluid {
      padding: 0px !important;
  }

    .dot{
      height: 25px;
      width: 25px;
      border-radius: 50%;
      position: absolute;
      left: 52%;
      top: 9%;
    }
    .e-expand-icon {
      font-size: 50px; /* Adjust the size as needed */
  }
  .e-control {
      font-family:  "Poppins","Notosans" !important;
  }
  .e-tab .e-toolbar-items .e-toolbar-item .e-tab-text {
    font-family:  "Poppins","Notosans" !important;
  }
  .e-card {
    font-family:  "Poppins","Notosans" !important;
  }
  body{
    font-family:  "Poppins","Notosans" !important;
  }


.control-fluid {
  padding: 0px !important;
}


.custom-icon::before {
  content: '\e701'; /* Unicode character for the desired icon */
  /* Additional styling if needed */
}
#diagram {
  height: 100%;
  width: 100%;
}
#searchnode{
  margin: auto;
  width: 50%;
  display: inline;
}

#searchnode input{
  margin-right: 10px;
}
.dotChartDiagram{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  left: 52%;
  top: 80%;
}
.e-control {
  font-family:  "Poppins","Notosans" !important;
}
.e-tab .e-toolbar-items .e-toolbar-item .e-tab-text {
font-family:  "Poppins","Notosans" !important;
}
.e-card {
font-family:  "Poppins","Notosans" !important;
}
body{
font-family:  "Poppins","Notosans" !important;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}


.n0 {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.n0 .n0tooltip {
visibility: hidden;
width: 200px;
background-color: #E1E9F2;
color: black;
text-align: center;
border-radius: 8px;
padding: 5px 5px;
position: absolute;
z-index: 1;
bottom: 35px;
left: 1px;
margin-left: -70px;
}

.n0:hover .n0tooltip{
  visibility: visible;
}
.n0 .n0tooltip:after,.n0 .n0tooltip:before {
  top:100%;
  left:50%;
  border:solid transparent;
  content:" ";
  height: 0;
  width: 0;
  position: absolute;
}
.n0 .n0tooltip:after{
  border-color: transparent;
  border-top-color: #E1E9F2;
  border-width: 10px;
  margin-left: -10px;
}
.n0 .n0tooltip:before{
  border-color: transparent;
  border-top-color: #E1E9F2;
  border-width: 11px;
  margin-left: -11px;
}



.n1 {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.n1 .n1tooltip {
visibility: hidden;
width: 200px;
background-color: #E1E9F2;
color: black;
text-align: center;
border-radius: 8px;
padding: 5px 5px;
position: absolute;
z-index: 1;
bottom: 35px;
left: 1px;
margin-left: -70px;
}

.n1:hover .n1tooltip{
  visibility: visible;
}
.n1 .n1tooltip:after,.n1 .n1tooltip:before {
  top:100%;
  left:50%;
  border:solid transparent;
  content:" ";
  height: 0;
  width: 0;
  position: absolute;
}
.n1 .n1tooltip:after{
  border-color: transparent;
  border-top-color: #E1E9F2;
  border-width: 10px;
  margin-left: -10px;
}
.n1 .n1tooltip:before{
  border-color: transparent;
  border-top-color: #E1E9F2;
  border-width: 11px;
  margin-left: -11px;
}


.n2 {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.n2 .n2tooltip {
visibility: hidden;
width: 200px;
background-color: #E1E9F2;
color: black;
text-align: center;
border-radius: 8px;
padding: 5px 5%;
position: absolute;
z-index: 1;
bottom: 35px;
left: 1px;
margin-left: -70px;
}

.n2:hover .n2tooltip{
  visibility: visible;
}
.n2 .n2tooltip:after,.n2 .n2tooltip:before {
  top:100%;
  left:50%;
  border:solid transparent;
  content:" ";
  height: 0;
  width: 0;
  position: absolute;
}
.n2 .n2tooltip:after{
  border-color: transparent;
  border-top-color: #E1E9F2;
  border-width: 10px;
  margin-left: -10px;
}
.n2 .n2tooltip::before{
  border-color: transparent;
  border-top-color: #E1E9F2;
  border-width: 11px;
  margin-left: -11px;
}


.n3 {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.n3 .n3tooltip {
visibility: hidden;
width: 200px;
background-color: #E1E9F2;
color: black;
text-align: center;
border-radius: 8px;
padding: 5px 5px;
position: absolute;
z-index: 1;
bottom: 35px;
left: 1px;
margin-left: -70px;

}
.n3 .n3tooltip:after,.n3 .n3tooltip:before {
  top:100%;
  left:50%;
  border:solid transparent;
  content:" ";
  height: 0;
  width: 0;
  position: absolute;
}
.n3 .n3tooltip:after{
  border-color: transparent;
  border-top-color: #E1E9F2;
  border-width: 10px;
  margin-left: -10px;
}
.n3 .n3tooltip:before{
  border-color: transparent;
  border-top-color: #E1E9F2;
  border-width: 11px;
  margin-left: -11px;
}

.n3:hover .n3tooltip{
  visibility: visible;
}

.circle{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.linetooltip{
  width: 50px;
  border: none;
  border-top: 4px dashed black;
  background-color: transparent;
  height: 3px;
  opacity: 100%;
}
.rectangletooltip{
  border:3px dashed black;
  padding: 10px 20px;
}
